body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

#bookingForm {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('arrow-down.png') no-repeat right;
    background-size: 20px;
}

button {
    background-color: #ffd700; /* gold color */
    color: #000; /* black color */
    cursor: pointer;
}

button:hover {
    background-color: #daa520; /* darker gold color */
}

input:invalid,
select:invalid {
    border: 1px solid #000; /* black color */
}

input:valid,
select:valid {
    border: 1px solid #ccc;
}

input:required,
select:required {
    background-color: #fff9c4;
}

input[readonly] {
    background-color: #eee;
}

@media (max-width: 600px) {
    #bookingForm {
        margin: 10px;
    }
}

/* Header styles */
header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.logo-container img {
    max-width: 10%;
    height: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    font-size: 14px;
}

.nav-button:hover {
    color: rgb(240, 231, 103); /* Change color on hover */
}