body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

#addRoomForm {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ffd700; /* gold color */
    color: #000; /* black color */
    cursor: pointer;
}

button:hover {
    background-color: #daa520; /* darker gold color */
}

input:invalid {
    border: 1px solid #000; /* black color */
}

input:valid {
    border: 1px solid #ccc;
}

input:required {
    background-color: #fff9c4;
}

@media (max-width: 600px) {
    #addRoomForm {
        margin: 10px;
    }
}