<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content -->
    <!-- Head content -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kula Hotel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <h1>Booking Dashboard</h1>

    <div>
        <h2>Booking Actions</h2>
        <a href="{{ url_for('render_create_booking') }}">Create Booking</a>
        <a href="{{ url_for('render_update_booking') }}">Update Booking</a>
        <a href="{{ url_for('render_get_booking_by_id') }}">Get Booking by ID</a>
        <a href="{{ url_for('render_delete_booking') }}">Delete Booking</a>
    </div>

    <!-- Middle content with room pictures and descriptions -->

</body>
</html>