<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles10.css') }}">
</head>
<body>
    <h1>Logout Test</h1>
    <button id="logoutBtn">Logout</button>

    <script>
        document.getElementById('logoutBtn').addEventListener('click', function() {
            // Send a POST request to the /logout endpoint
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                alert(data.message); // Display the response message in an alert
                if (data.success) {
                    // Redirect to homepage
                    window.location.href = '/';
                }

            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>