<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kula Hotel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <h1>Staff Dashboard</h1>

    <div>
        <h2>Staff Actions</h2>
        <a href="{{ url_for('signup') }}">Sign Up</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>

</body>
</html>